# FastAPI
fastapi==0.136.0
uvicorn[standard]==0.34.0

# Kafka
aiokafka==0.11.0

# KoBERT
torch==2.6.0
transformers==4.51.3
sentencepiece==0.2.0

# DB
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
pgvector==0.4.2

# 설정
pydantic-settings==2.9.1
python-dotenv==1.1.0